
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
p, h1{
    width: 50%;
    background-color: blanchedalmond;
    margin: 0 auto; 
    text-align: justify;
}
.footer{
    background-color:aquamarine;
    clear: both;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}